.add-button {
  z-index: 1;
  position: fixed;
  bottom: 40px;
  right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
}
.btn-log {
  font-size: 36px;
  color: white;
  width: 80px;
  height: 80px;
  border: solid 3px #484282;
  border-radius: 50%;
  background-color: #050038;
  transition-duration: 0.3s;
}
.btn-log:hover {
  background-color: #484282;
  border: solid 4px coral;
  color: coral;
  cursor: pointer;
}
